<div class="mb-3" style="margin-top: 27vh; overflow: auto;">
  <div class="col-sm-6 col-md-6 col-lg-8 mx-auto" style="height: 59vh;">
    <center><h3>Edit Part</h3></center>

    <div class="card border-dark">
      <div class="card-body">
        <form class="needs-validation" method="POST" action="/editpart">
          <label for="lbljobname056">Part ID</label>
          <input
            type="number"
            class="form-control"
            name="txtpartid"
            value="<%= parts.id %>"
            readonly
          />

          <br />

          <label for="lblpartname">Part Name</label>
          <input
            type="text"
            class="form-control"
            name="txtpartname"
            placeholder="Enter Part Name"
            required
            value="<%=
          parts.partName %>"
          />

          <br />

          <label for="lblquantity056">Quantity On Hand</label>
          <input
            type="number"
            class="form-control"
            name="txtqoh"
            placeholder="Enter Quantity on hand"
            min="0"
            step="1"
            required
            value="<%=
          parts.qoh %>"
          />

          <br />

          <button class="btn btn-primary" type="submit">Edit</button>
        </form>
      </div>
    </div>
  </div>
</div>
