<div class="mb-3" style="margin-top: 27vh;">
  <div
    class="col-sm-6 col-md-6 col-lg-8 mx-auto"
    style="overflow: auto; height: 59vh;"
  >
    <table class="table table-bordered">
      <thead class="table-dark">
        <tr>
          <th scope="col">JobName</th>
          <th scope="col">PartId</th>
          <th scope="col">UserId</th>
          <th scope="col">Quantity</th>
        </tr>
      </thead>
      <tbody>
        <% partOrders.forEach(function(partOrder){ %>
        <tr>
          <td><%= partOrder.id %></td>
          <td><%= partOrder.partId %></td>
          <td><%= partOrder.userId %></td>
          <td><%= partOrder.qty %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
